.Tab{
    color: black !important;
}
.iMnhxj .selected a {
    color: #555!important;
    font-weight: 700;
    height: 36rem !important;
}
.selected{
    border-bottom: 2px solid #E77600 !important;
}
a{
    cursor: pointer !important;
}
.content{
    border-top: 1px solid grey !important;
}
.available{
    height: 280px !important;
}

.viewDealBtn {
    background: #f0c14b !important;
    border-color: #a88734 #9c7e31 #846a29 !important;
    color: #111 !important;
}
.iMnhxj {
    height: 36rem !important;
}
.dealBadges{
    font-size: 11px!important;
    color: #FFF!important;
    font-weight: 700!important;
    background: #C45500 !important;
    height: 18px !important;
    max-width: 90% !important;
    text-align: center !important;
    display: inline-block !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    padding: 0 5px !important;
    float: left !important;
    overflow: hidden !important;
}
.price{
    color: #cc1c39!important;
}
a, a:active, a:link, a:visited {
    text-decoration: none !important;
    /* color: #0066c0 !important; */
    font-size: 13px !important;
    line-height: 19px !important;
}
.time{
    font-size: 11px !important;
}
.btn {
    padding: .275rem .75rem !important;
}