.topnav_3 {
    background-color: #fff !important;
}
.fashion {
    color: #000 !important;
    font-weight: bold !important;
    font-size: 22px !important;
}
.nav_women {
    background-color: #fff !important;
    color: #000 !important;
    border: none !important;
}
.nav3_items {
    margin-bottom:0px !important; 
    font-size:13px !important;
    white-space:nowrap !important;
    text-align:left !important;
}
.nav3_items:hover {
    margin-bottom:0px !important;
    font-size:13px !important;
    white-space:nowrap !important;
    text-align:left !important;
    border: 2px solid F3A847 !important;
}