.sidebar {
    position: fixed;
    top: 0; 
    bottom: 0; 
    z-index: 1030;
    display: flex;
    flex: 0 0 256px;
    flex-direction: column;
    order: -1;
    width: 300px;
    padding: 0;
    box-shadow: none;
    background: #fff;
}

.sidebar-hide {
    display:none !important;
}

.sidebar-show {
    display:block !important;
}

.sidebar-profile {
    background-color: #232f3e;
    color:#fff;
    height: 50px;
    align-items: center;
}

.customer-details {
    display: inline-block;
    font-size: 19px;
    max-width: 90%;
    color: #fff;
    overflow: hidden;
    padding: 10px 40px;
}

.customer-name {
    padding-left: 10px;
}

.siderbar-content-header {
    color: #969397;
    padding: 10px;
}

.close-image {
    width: 35px;
    cursor: pointer;
    position: fixed;
    top: 9px;
    left: 15rem;
}